/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
// *= require_tree .
 *= require_self
 *= require items
 *= require orders
 */
@import "bootstrap-sprockets";
@import "font-awesome";
@import "bootstrap";

html,
body {
  height: 100%;
}

.main-wrapper {
  min-height: 100%;
}

a {
  color: #000;
  &:hover {
    color: #808080;
  }
}

ul {
  padding: 0;
  list-style: none
}

.centered {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.strong {
  font-weight: bold;
}

// Header styles
.header {
  .outer {
    padding: 5px 0 15px;
    .header-wrap {
      border-bottom: 1px solid #000;
    }
    .nav-actions {
      height: 60px;
      margin-right: 20px;
      display: table;
      table-layout: fixed;
      .search-ico, .shopping-cart-ico {
        display: table-cell;
        vertical-align: middle;
        a {
          .actions-ico {
            margin-right: 10px;
          }
        }
      }
    }
    .navigation {
      margin: 10px auto;
    }
  }
  .banner {
    display: none;
  }
}

.root .header .banner {
  display: block;
  .image img {
    width: 100%;
  }
}

// Footer Styles
.footer {
  margin-top: 20px;
  padding: 3em 1.5em;
  border-top: 1px solid black;
  .footer-left-side, .footer-right-side {
    float: left;
    width: 30%;
  }
  .footer-left-side {
    ul.menu {
      margin-top: -20px;
    }
  }
  .footer-center-side {
    width: 40%;
    float: left;
  }
  .footer-right-side {
    text-align: right;
    ul.social-networks {
      text-align: right;
      li {
        display: inline-block;
        margin-left: 15px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

//Search styles
.search-wrap {
  position: absolute;
  min-height: 100%;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  z-index: 1;
  .close {
    margin-right: 2em;
    margin-top: 0.5em;
    color: #fff;
  }

  .search-form {
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
    .search-field {
      position: absolute;
      z-index: 2;
      top: 280px;
      width: 100%;
      input {
        background: #000;
        color: #fff;
        border: 1px solid #fff;
        padding: 10px 0 7px 12px;
        width: calc(100% - 68px);
        height: 45px;;
        border-right: none;
      }
      button {
        text-align: center;
        border: 1px solid #fff;
        color: #fff;
        background: #000;
        cursor: pointer;
        outline: none;
        padding: 5px 20px 10px 20px;
        &:hover {
          background: #fff;
          color: #000;
        }
      }

    }
  }
}

//Media queries
.col-20p, .col-80p {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}

.col-20p {
  width: 20%;
}

.col-80p {
  width: 80%;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}